<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://codingcat.top/static/css/prism.css">
</head>
<body>

<div style="width: 800px;margin:100px auto;">
<div style="width: 800px;font-size:16px">

<pre><code class="lang-bash"># gcc make
yum install gcc make

# zlib
yum install zlib-devel

# 3.7版本需要一个新的包libffi-devel
yum install libffi-devel

# sqlite安装
yum install sqlite-devel

# readline安装
yum install readline-devel

# openssl安装
yum install openssl-devel

# tk安装
yum install tk-devel
</code></pre>
    </div>
</div>
    <script src="https://codingcat.top/static/js/prism.js"></script>
</body>
</html>